.container{
  width: 100%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #f97316;
  background-color: #6b7280;
}

.container-two{
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.input{
  outline: none;
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.button{
  outline: none;
  background-color: blueviolet;
  color: #fff;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem; /* 2px */
  padding-bottom: 0.25rem; /* 2px */
  flex-shrink: 0;
}

.container-three{
  display: flex;
  font-size: 0.875rem; 
  column-gap: 0.5rem; 
}

.container-four{
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}